<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Todos los Personajes</title>
</head>
<body>
    <header>
        <div class="menu">
            <a href="/" class="logo"><img src="/static/images/universo_logo.png" alt="Universo Logo"></a>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/personajes">Todos los Personajes</a></li>
                    <li><a href="/universo_11">Universo 11</a></li>
                    <li><a href="/universo_7">Universo 7</a></li>
                    <li><a href="/universo_6">Universo 6</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h1>Lista de Todos los Personajes</h1>
        <div class="character-list">
            {% for character in characters %}
                <div class="character">
                    <img src ```html
                    <img src="{{ character[1] }}" alt="{{ character[0] }}">
                    <h2>{{ character[0] }}</h2>
                    <p>Universo: {{ character[2] }}</p>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>